@font-face {
   font-family: 'Sedona';
   src: url('./sedona.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Oswald';
   src: url('./oswald.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Oswald';
   src: url('./oswald-bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

body {
   margin: 0;
   background-color: rgb(173, 173, 173);
}

.container {
   max-width: 1000px;
   margin: 0 auto;
}

/* header */

.header {
   padding: 1rem 0 0 0;
   background-color: black;
   border-bottom: white;
}

.header__title {
   margin: 0;
   text-align: center;
   font-size: 6rem;
   font-family: 'Sedona', sans-serif;
   background: linear-gradient(to bottom, rgb(255, 38, 0), rgb(255, 217, 0));
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.nav {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-items: center;
   background-color: gray;
   padding: .5rem 2rem;
}

.nav__item {
   font-size: 2rem;
   font-weight: 600;
   font-family: 'Oswald', sans-serif;
   cursor: pointer;
}

.nav__item:hover {
   color: #f04a38;
}

/* home */

.home, .menu, .contact {
   display: grid;
}

.content {
   display: grid;
   margin: 3rem 5rem 3rem 2rem;
}

.content__title {
   font-size: 2rem;
   font-weight: 600;
   font-family: 'Oswald', sans-serif;
}

.content__title::first-line {
   background-color: #fff;
 }

.content__text {
   box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
   background-color: #e74c3c;
   color: black;
   padding: 0.2rem 1.5rem;
   line-height: 2.2;
}

.content__subtext {
   font-size: 2rem;
   font-weight: 600;
   font-family: 'Oswald', sans-serif;
   justify-self: end;
   box-shadow: 7px 7px 0px 0px #e74c3c;
   color: #e74c3c;
   background-color: black;
   padding: 1rem
}

.card {
   display: grid;
   justify-self: center;
   background-color: black;
   margin: 2rem 0 2rem 0;
   padding: 2rem;
   max-width: 35rem;
   font-size: 2rem;
   font-weight: 600;
   color: white;
   font-family: 'Oswald', sans-serif;
   box-sizing: border-box;
   box-shadow: 7px 7px 0px 0px #e74c3c;
}

.card__image {
   justify-self: center;
   margin-bottom: 1rem;
   width: 15rem;
   height: 15rem;
   border-radius: 50%;
   object-fit: cover;
   object-position: top;
}

.card__text {
   justify-self: center;
   margin: 1rem 0;
}

.card__subtext {
   justify-self: end;
   margin: 0;
}



.home,
.contact {
   display: none;
}